
		<header class="header">
			<a ui-sref="main"></a>
			<h1>出境游</h1>
			<span></span>
		</header>
		<main class="main" id="main">
			<div class="iscroll">
				<div class="swiper-container">
				  <ul class="swiper-wrapper">
				      <li class="swiper-slide"><img src="../img/1.png" alt=""> </li>
				      <li class="swiper-slide"> <img src="../img/1.png" alt=""></li>
				      <li class="swiper-slide"> <img src="../img/1.png" alt=""></li>
				  </ul>
			 	
			</div>
			<div class="title">
				<b>签证</b><span>办签证看这里，99.9%的出签率</span>
			</div>
			<div class="love">
				<h1>大家爱去</h1>
				<ul>
					<li><a ui-sref="ribenyou">日本</a></li>
					<li><a ui-sref="hanguoyou">韩国</a></li>
					<li>新加坡</li>
					<li>美国</li>
				</ul>
				<ul>
					<li><a ui-sref="youlun">邮轮</a></li>
					<li><a ui-sref="taiguo">泰国</a></li>
					<li><a ui-sref="fayiyou">法意瑞</a></li>
					<li>香港</li>
				</ul>
			</div>
			<div class="subnav">
				<ol>
					<li>人气路线</li>
					<li>精选特价</li>
				</ol>
				<div class="content">
					<dl>
						<dt><img src="../img/chujing1.png" ></dt>
						<dd>
							<p>
								<span>自由行</span>
								<i>手机专享</i>
							</p>
							<h3>限时特惠|日本香川、小豆岛、直捣6日自由行 （赠米其林三星）</h3>
							<h6><b>699</b>起</h6>
						</dd>
					</dl>
				</div>
				<div class="content content2">
					<dl>
						<dt><img src="../img/chujing1.png" ></dt>
						<dd>
							<p>
								<span>自由行</span>
								<i>手机专享</i>
							</p>
							<h3>限时特惠|日本香川、小豆岛、直捣6日自由行 （赠米其林三星）</h3>
							<h6><b>699</b>起</h6>
						</dd>
					</dl>
				</div>
			</div>
			</div>
			
		</main>
		
	
