
	<link rel="stylesheet" href="../styles/jipiao.css">
	<div class="wrap" id="wrap">
		<header class="header">
			<a ui-sref="main"></a>
			<h1>机票</h1>
			<span>特价</span>
		</header>
		<main class="main" id="main">
			<div class="content">
				<div class="navs">
					<a href="#" class="on">单程</a>
					<a href="#">往返</a>
				</div>
				<div class="city">
					<div class="title">
						<p>出发城市</p>
						<p>到达城市</p>
					</div>
					<div class="place">
						<h1>上海</h1>
						<h1>广州</h1>
					</div>
				</div>
				<div class="date">
					<p>出发日期</p>
					<h1><b>06月14日</b>明天</h1>
				</div>
			</div>
			<div class="searchs">查询</div>
			
		</main>
		<footer class="footer">
			<div class="top">
				<h1>北京-福州</h1>
				<h1>￥421</h1>
			</div>
			<div class="bot">
				<p>05-23周一</p>
				<p>2.5折</p>
			</div>
		</footer>
		
	</div>
