
	
		<main class="main2" id="main">
			<div class="content">
				<h1>
					400-820-6222
				</h1>
				<div class="btns">
					<p class="close" ng-click="sub()">取消</p>
					<p>呼叫</p>
				</div>
			</div>
		</main>
		<div ng-include="'./views/footer.html'"></div>
		<!-- <footer class="footer">
				<a ui-sref="main">首页<img src="../img/15.png" alt=""></a>
				<a ui-sref="mudi">目的地<img src="../img/16.png" alt=""></a>
				<a ui-sref="lianxi">联系我们<img src="../img/17.png" alt=""></a>
				<a ui-sref="chunqiu">我的春秋<img src="../img/18.png" alt=""></a>
			</footer> -->
	
	

	