


	<main class="main" id="main">

		<div class="iscroll">

				<div class="swiper-container">
					  <ul class="swiper-wrapper">
					      <li class="swiper-slide"><img src="../img/1.png" alt=""> </li>
					      <li class="swiper-slide"> <img src="../img/1.png" alt=""></li>
					      <li class="swiper-slide"> <img src="../img/1.png" alt=""></li>
					  </ul>
				 	
				 					  <ol class="pagination">
				 					  	<li class="swiper-pagination-switch"></li>
				 					  	<li class="swiper-pagination-switch"></li>
				 					  	<li class="swiper-pagination-switch"></li>
				 					  </ol>
				</div>
				<div class="search">
					  	<span>北京</span>
					  	<form action="#" class="forms">
					  		<input type="text" id="txt" placeholder="目的地/景点/酒店/门票">
					  	</form>
					  	<i></i>
				</div>
				<div class="nav">
					<a ui-sref="chujingyou">出境<i></i></a>
					<a ui-sref="guoneiyou">国内<i></i></a>
					<a ui-sref="jipiao">机票<i></i></a>
					<a ui-sref="youlun">游轮<i></i></a>
				</div>
				<div class="menu">
					<a ui-sref="zhoubianyou"><span>周边</span></a>
					<a ui-sref="menpiao"><span>门票玩乐</span></a>
					<a ui-sref="zijaiyou"><span>自驾</span></a>
				
				</div>
							<div class="show">
				<div class="left">
					<div class="l_t">
						<h1>限时购   20:23:12</h1>
					</div>
					<div class="l_c">
						<img src="../img/6.png" alt="">
					</div>
					<div class="l_b">
						<h3>
							手机专享|普吉岛6日4晚尊享
							游|（升级2晚海景房、攀牙...）
						</h3>
					</div>
				</div>
				<div class="right">
					<div class="r_t">
						<h2>移动专享</h2>
						<img src="../img/7.png" alt="">
					</div>
					<div class="r_b">
						<h2>尾单/说走就走</h2>
						<img src="../img/8.png" alt="">
					</div>
				</div>
							</div>
				
							<div class="tit">
				<img src="../img/9.png" alt="">
				<h3><span>农行超级666！ 下单立减666</span></h3>
							</div>
							<div class="pic">
				<img src="../img/11.png" alt="">
				<img src="../img/12.png" alt="">
				<img src="../img/13.png" alt="">
				<img src="../img/14.png" alt="">
							</div>
		</div>
	</main>
	<div ng-include="'./views/footer.html'"></div>
	<!-- <footer class="footer">
		<a ui-sref="main">首页<img src="../img/15.png" alt=""></a>
		<a ui-sref="mudi">目的地<img src="../img/16.png" alt=""></a>
		<a ui-sref="lianxi">联系我们<img src="../img/17.png" alt=""></a>
		<a ui-sref="chunqiu">我的春秋<img src="../img/18.png" alt=""></a>
	</footer> -->

