
		<header class="header">
			<a ui-sref="main"></a>
			<h1>门票</h1>
			<span></span>
		</header>
		<main class="main" id="main">
			<div class="iscroll">
				<div class="swiper-container">
				  <ul class="swiper-wrapper">
				      <li class="swiper-slide"><img src="../img/menpiao1.jpg" alt=""> </li>
				      <li class="swiper-slide"> <img src="../img/menpiao1.jpg" alt=""></li>
				      <li class="swiper-slide"> <img src="../img/menpiao1.jpg" alt=""></li>
				  </ul>
			 		<!-- 分页器样式没有写完 -->
				  <!-- <ol class="pagination">
				  	<li class="swiper-pagination-switch"></li>
				  	<li class="swiper-pagination-switch"></li>
				  	<li class="swiper-pagination-switch"></li>
				  </ol> -->
			</div>
				<div class="nav">
					<a href="#">通讯Wifi<i></i></a>
					<a href="#">门票卡券<i></i></a>
					<a href="#">一日游乐<i></i></a>
					<a href="#">接送用车<i></i></a>
				</div>
				<div class="tai">
					<dl>
						<dt>
							<img src="../img/menpiao2.jpg" alt="">
						</dt>
						<dd>
							<h1>泰完美</h1>
							<p>泰国</p>
						</dd>
					</dl>
				</div>
				<div class="detail">
					<dl>
						<dt>
							<img src="../img/menpiao4.jpg" alt="">
						</dt>
						<dd>
							<h1>泰完美</h1>
							<p>泰国</p>
						</dd>
					</dl>
					<dl>
						<dt>
							<img src="../img/menpiao5.jpg" alt="">
						</dt>
						<dd>
							<h1>泰完美</h1>
							<p>泰国</p>
						</dd>
					</dl>
				</div>
			
				<div class="subnav">
					<ol>
						<li>人气路线</li>
						<li>精选特价</li>
					</ol>
					<div class="content">
						<img src="../img/menpiao6.jpg" alt="">
						<img src="../img/menpiao7.jpg" alt="">
						<img src="../img/menpiao9.jpg" alt="">
					</div>
					
				</div>
			</div>
			
		</main>
		
	
