
		<header class="header">
			<a ui-sref="main"></a>
			<h1>周边游</h1>
			
		</header>
		<main class="main" id="main">
			<div class="iscroll">
				<form action="#">
					<input type="text" placeholder="景点、目的地、玩法等关键字" id="txt">
				</form>
				<div class="nav3">
					<a ui-sref="chujingyou">出境<i></i></a>
					<a ui-sref="guoneiyou">国内<i></i></a>
					<a ui-sref="jipiao">机票<i></i></a>
					<a ui-sref="youlun">游轮<i></i></a>
				</div>
				<div class="titles">
					<p>喜欢的主题？吐槽一下</p>
				</div>
				<div class="cons">
					<h1>
						<b>周边特价</b>
						<span>精品周边特价，说走就走</span>
						<i></i>
					</h1>
				</div>
				<div class="intresting">
					<h4><span></span><b>热门目的地</b></h4>
					<div class="swiper-container">
							  <ul class="swiper-wrapper">
							      <li class="swiper-slide">
							      	<div class="pic_">
							      		<a href="#">
							      			<img src="../img/zhoubian2.png" alt="">
							      			<span>千岛湖</span>
							      		</a>
							      		
							      		<a href="#">
							      			<img src="../img/zhoubian3.png" alt="">
							      			<span>杭州</span>
							      		</a>
							      		<a href="#">
							      			<img src="../img/zhoubian4.png" alt="">
							      			<span>无锡</span>
							      		</a>
							      		<a href="#">
							      			<img src="../img/zhoubian5.png" alt="">
							      			<span>苏州</span>
							      		</a>
							      	</div>
							      </li>
							      <li class="swiper-slide">
							      		<div class="pic_">
							      		<a href="#">
							      			<img src="../img/zhoubian2.png" alt="">
							      			<span>千岛湖</span>
							      		</a>
							      		
							      		<a href="#">
							      			<img src="../img/zhoubian3.png" alt="">
							      			<span>杭州</span>
							      		</a>
							      		<a href="#">
							      			<img src="../img/zhoubian4.png" alt="">
							      			<span>无锡</span>
							      		</a>
							      		<a href="#">
							      			<img src="../img/zhoubian5.png" alt="">
							      			<span>苏州</span>
							      		</a>
							      	</div
							      </li>
							     
							  </ul>
				</div>
				
			</div>
				<div class="subnav">
					<ol>
						<li>酒+景</li>
						<li>团队游</li>
					</ol>
					<div class="content">
						<dl>
							<dt><img src="../img/zhoubianyou6.jpg" ></dt>
							<dd>
								<p>暑期爆款市区酒店|韩国首尔5日4晚自由行|（黎明洞、东大门五分钟路程、赠送...）</p>
							</dd>
						</dl>
					</div>
					
				</div>
			
			
			
				<!-- <div class="clearfix"></div> -->
					
			</div>
		</main>
		

	
	
</body>
</html>