
		<header class="header">
			<a ui-sref="main"></a>
			<h1>自驾游</h1>
			<span></span>
		</header>
		<main class="main" id="main">
			<div class="iscroll">
				<div class="swiper-container">
				  <ul class="swiper-wrapper">
				      <li class="swiper-slide"><img src="../img/menpiao1.jpg" alt=""> </li>
				      <li class="swiper-slide"> <img src="../img/menpiao1.jpg" alt=""></li>
				      <li class="swiper-slide"> <img src="../img/menpiao1.jpg" alt=""></li>
				  </ul>
			 		<!-- 分页器样式没有写完 -->
				  <!-- <ol class="pagination">
				  	<li class="swiper-pagination-switch"></li>
				  	<li class="swiper-pagination-switch"></li>
				  	<li class="swiper-pagination-switch"></li>
				  </ol> -->
			</div>
				<div class="hot">
					<h1><span>季节热门</span></h1>
					<ul>
						<li><a href="#">踏青</a></li>
						<li><a href="#">千岛湖</a></li>
						<li><a href="#">天目湖</a></li>
						<li><a href="#">亲子</a></li>

					</ul>
					<ul>
						<li><a href="#">宁波</a></li>
						<li><a href="#">采摘</a></li>
						<li><a href="#">恐龙园</a></li>
						
					</ul>
				</div>
				<div class="week">
					<h1><span>周末自驾</span></h1>
					<img src="../img/zijiayou3.jpg" alt="">
				</div>
			</div>
			
		</main>
		

